[submodule "repl-tooling"]
	path = repl-tooling
	url = git@github.com:mauricioszabo/repl-tooling.git
[submodule "clojurescript-koans"]
	path = clojurescript-koans
	url = https://github.com/mauricioszabo/clojurescript-koans.git
